@media screen and (max-width: 576px) {
    section{
        padding: 0px 30px;
    }
    .nav-main{
        padding: 50px 30px;
    }
    .nav-right button{
        display: none;
    }
    .nav-right {
        border: none;
    }
    .nav-right i{
        display: block;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }
    .hero-left{
        width: 100%;
    }
    .hero-btn{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .hero-right{
        width: 70%;
        margin-left: 0px;
        position: relative;
    }
    .hero-right > img{
        width: 100%;
    }
    .img-top-left{
        width: 150px;
        height: 70px;
        padding: 10px 10px;
        position: absolute;
        bottom: 150px;
        right: 150px;
    }
    .img-top-right{
        width: 150px;
        height: 70px;
        padding: 10px 10px;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40px;
        left: 150px;
    }
    .vdo-tuto h2, .img-top-right > h2{
        color: white;
        font-size: 18px;
        font-weight: 900;
    }
    .vdo-tuto p, .img-top-right > p{
        color: rgba(239, 237, 232, 0.65);
        font-size: 12px;
        font-weight: 400;
    }

    .chang-habit{
        padding-top: 10px;
    }
    .content-title{
        font-size: 50px;
    }
    .content-description{
        font-size: 20px;
        font-weight: 800;
        margin-top: 20px;
    }
    .content-box{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-bottom: 50px;
    }
    .content-content > h3{
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content-content > p{
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
    }
    .content-description{
        font-weight: 400;
    }
    .run-content{
        padding: 30px 30px;
        flex-direction: column;
        justify-content: start;
    }
    .run-content-left{
        width: 100%;
        padding: 30px 30px;
    }
    .run-content-right{
        width: 100%;
    }
    .run-content-right > img{
        width: 100%;
        border-radius: 30px;
    }
    .bmi-bg-color{
        background: rgb(34, 34, 34);
        width: 100%;
    }
    .bmi-table-form{
        flex-direction: column;
        gap: 50px;
    }
    .bmi-left{
        width: 100%;
    }
    .bmi-right{
        width: 100%;
    }
    .bmi-title{
        margin-bottom: 20px;
    }
    table{
        width: 100%;
    }
    .half-width{
        width: 36%;
    }
    .full-width {
        width: 84%;
    }
    input[type="submit"]{
        width: 60%;
        margin-top: 30px;
    }
    .meet-team-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-container{
        flex-direction: column;
        padding: 30px;
        gap: 25px;
    }

    /* mixed */
    .brand{
        font-size: 50px;
    }
    .brand-title{
        font-size: 36px;
    }
    .content-title{
        font-size: 36px;
    }

    /* button style */
    .btn-primary{
        width: 50%;
        padding: 8px 10px;
        margin-top: 22px;
    }
    .btn-secendary{
        width: 50%;
        padding: 8px 10px;
        white-space: nowrap;

    }

    /* run an extra */
    .run-content-btn{
        width: 100%;
    }

    /* meet our team*/
    .meet-team-img{
        height: 350px;
    }

    /* pricing plan*/
    .plan-container{

    }
    .plan-box{
        flex-direction: column;
    }
    .plan-content{
        width: 100%;
        color: white;
        text-align: center;
        border: 2px solid rgb(83, 73, 73);
        padding: 0;
    }
    .plan-title{
        font-size: 36px;
        color: #E6533C;
    }
    .plan-price{
        font-size: 22px;
        color: aqua;
        margin-bottom: 20px;
    }
    .plan-list{
        list-style: none;
    }
    .plan-btn{
        background-color: #E6533C;
        border: none;
        border-radius: 42px;
        padding: 14px 42px;
        font-size: 25px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }


}